// @import "variables.scss";

.mobile-el {
	@media #{$min-mobile} {
		display: none;
	}
}

.hide-on-mobile {
	@media #{$mobile} {
		display: none;
	}
}

nav {

	&.navbar {
		width: 100%;
		top: 0;
		left: 0;
		position: fixed;
		padding: 8px 30px;
		// -webkit-transition: padding 0.4s ease;
		// transition: padding 0.4s ease;
 
		.navbar-brand {
			color: white;
			font-size: $large;

			img {
				margin-right: 15px;
				width: 30px;
				height: 30px;
				object-fit: contain;
				object-position: center;
			}
		}

		.navbar-left {
			max-width: 250px;
			width: 100%;

			@media #{$mobile} {
				max-width: initial;
			}
		}
		
		.navbar-button {
			margin: 0;
			color: white;

			&.mdc-icon-toggle {
                font-size: $large;
                height: 40px;
                width: 40px;
			}
 
			&.navbar-button-web {
				display: block;

				@media #{$tablet} {
					display: none;
				}
			}

			&.navbar-button-mobile {
				display: none;

				@media #{$tablet} {
					display: flex;
				}

				@media #{$mobile} {
					display: none;
				}
			}
		}

		.navbar-toggle {
			flex: 1;
			// -webkit-transition: flex 0.4s ease;
			// transition: flex 0.4s ease;

			.navbar-menu-toggle {
				float: right;
			}
		}
	}
}

aside {
	z-index: 5;
	padding-top: 56px;
	background-color: white;
	position: fixed;
	height: 100%;
	width: 280px;
	box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
	// -webkit-transition: all 0.4s ease;
	// transition: all 0.4s ease;

	.scroll-wrapper {
		height: calc(100% - 65px);
	}

	ul.menu-list {
		padding: 30px 0;

		li, .mdc-list-item {
			padding: 0;
			border-top: 3px solid transparent;
			border-bottom: 3px solid transparent;
			height: auto;

			%active-anchor-menu-class {
				color: $primary-medium;
				text-decoration: none;
				border-left: 5px solid $primary-medium;
			}

			.list-item {
				cursor: pointer;
				width: 100%;
				font-size: $small;
				padding: 8px 30px 8px 25px;
				color: $grey-80;
				font-weight: bold;
				border-left: 5px solid transparent;

				.text-icon {
					padding-left: 40px;
					position: relative;

					i {
						font-size: $x-large;
						position: absolute;
						left: 0;

						&.collapse-icon {
							left: initial;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							font-size: $medium;
							height: $medium;

							&:before {
								content: "\f078";
							}
						}
					}
				}

				&:hover {
					@extend %active-anchor-menu-class;
				}
			}

			&.active {
				.list-item {
					@extend %active-anchor-menu-class;
				}
			}

			&[aria-expanded="true"] {
				.collapse-icon {
					&:before {
						content: "\f077" !important;
					}
				}
            }
            
            .menu-notif-number {
                height: 21px;
                line-height: initial;
                padding: 3px 7px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;

                &.menu-notif-tiny {
                    bottom: initial;
                    height: 15px;
                    width: 15px;
                    padding: 0;
                    right: -5px;
                    top: -5px;
                    border: 2px solid white;
                }
            }
		}

		.collapse-list {
			padding-left: 0;

			.list-item {
				border-left: none !important;
				padding-left: 65px;

				.text-icon {
					padding-left: 20px;
				}
			}
		}
	}

	.caboodle-brand {
		font-size: $xx-small;
		padding: 12px 10px;
		color: $grey-60;
		border-top: 1px solid $grey-10;
        position: absolute;
		width: 100%;
		bottom: 0;
		img {
            padding-left: 5px;
            padding-right: 3px;
			height: 22px;
        }

        a {
            &:last-child {
                img {
                    padding-left: 3px;
                    padding-right: 0;
                }
            }
        }

		.version {
            padding-bottom: 4px;
            display: block;
        }
	}
}

main {
	margin-left: 280px;
	min-height: 100%;
	// -webkit-transition: margin 0.4s ease;
	// transition: margin 0.4s ease;
	padding: 30px;
	padding-top: calc(56px + 30px);

	&.no-side-menu {
		margin-left: 0;
	}

	@media #{$mobile} {
		width: 100%;
	}

	.content-container {
		max-width: 1200px;
		width: 100%;
		margin: auto;
	}

	header {
		margin-bottom: 30px;

		h1 {
			margin: 0;
			flex: 1;
        }
        
        .profile-header {
            display: flex;
            align-items: center;

            .image {
                background: white;
                width: 100px;
                height: 100px;
                text-align: center;
                border: 1px solid $grey-10;
                border-radius: 3px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 8px;
                display: flex;
                align-items: center;
                margin-right: 15px;

                i {
                    flex: 1;
                    color: $grey-60;
                    font-size: 80px;
                }
            }
        }
	}

	footer {
		margin-top: 30px;
	}
}

body {
	&.hide-menu {
        &.tab-menu {
            .navbar-brand {
                span {
                    display: none;
                }
            }

            main {
                @media #{$mobile} {
                    margin-left: 0;
                }
            }
        }

		nav {
			&.navbar {
				@media #{$min-mobile} {
					padding-left: 15px;
				}

				.navbar-brand {
					margin-right: 0;
					
					@media #{$min-mobile} {
						span {
							display: none;
						}
					}
					
				}
				@media #{$min-mobile} {
					.navbar-toggle {
						flex: 0;
					}
				}
			}
		}

		aside {
			@media #{$mobile} {
				transform: translateX(-280px);
				-webkit-transform: translateX(-280px);
				-moz-transform: translateX(-280px);
				-o-transform: translateX(-280px);
				-ms-transform: translateX(-280px);
			}
			@media #{$min-mobile} {
				width: 60px;

				ul.menu-list {
					padding-top: 3px;

					li, .mdc-list-item {
						position: relative;

						.list-item {
							padding-left: 0px;
							padding-right: 5px;
							text-align: center;

							.text-icon {
								padding-left: 0;
								display: block;

								span {
                                    display: none;
                                    
                                    &.menu-notif-number { 
                                        display: block;
                                    }
								}

								i {
									position: relative;
									font-size: $medium;

									&.collapse-icon {
										font-size: $xx-small;
										position: absolute;
                                        height: 10px;
                                        right: 3px;
									}
								}
                            }
                            
                            .menu-notif-number {
                                display: block;
                                font-size: 0;
                                bottom: initial;
                                height: 13px;
                                width: 13px;
                                padding: 0;
                                right: 11px;
                                top: -2px;
                                border: 2px solid white;
                                
                                &.menu-notif-tiny {
                                    display: block;
                                    bottom: initial;
                                    right: -5px;
                                    top: -5px;
                                    border: 2px solid white;
                                }
                            }
						}

						.collapse-list {
							position: absolute;
							top: 3px;
							box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
							background: white;
							left: 65px;
							width: 200px;

							.mdc-list-item {
								height: 30px;
								border: none;
							}

							.list-item {
                                font-size: $x-small;
                                padding-left: 5px;

                                .menu-notif-number {
                                    font-size: $xxx-small !important;
                                    width: auto !important;
                                    height: 16px !important;
                                    padding: 1px 5px !important;
                                    top: 0;
                                    bottom: 0;
                                    right: 0;
                                }
							}
                        }
					}
				}

				.caboodle-brand {
					display: none;
				}

				.scroll-wrapper {
					height: 100%;
					overflow: visible !important;

					.scroll-content {
						overflow: visible !important;
					}
                }
			}
		}
		
		main {
			margin-left: 60px;
		}
		
		@media #{$min-mobile} {
			.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {
				left: -3px;
				width: 3px;
			}

			.scrollbar-macosx:hover > .scroll-element .scroll-bar, .scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
				opacity: 0.5;
			}
		}
	}
}


[aria-label="breadcrumb"] {
	font-size: $x-small;
	
	.breadcrumb {
		background: none;
		padding-left: 0;

		.breadcrumb-item + .breadcrumb-item::before {
			content: "\f054";
			color: $grey-60;
		}

		.breadcrumb-item {
			a, span {
				color: $grey-60;
				font-family: 'Clear Sans';
			}

			&.active > *, &:hover > * {
				color: $grey-80;
			}
		}
	}
}


/* LOADER */
$green: $green-medium;
$blue: $blue-medium;
$red: $red-medium;
$purple: $purple-medium;
$transp: transparent;

$width: 80px;

.showbox {
	z-index: 2000;
	background: rgba(255,255,255,0.7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    
    &.sm {
        .loader {
            width: 50px;
            height: 50px;
        }
    }
}

.loader {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: $width;
	height: $width;

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

.circular {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100%,
	0% {
		stroke: $red;
	}
	40% {
		stroke: $blue;
	}
	66% {
		stroke: $green;
	}
	80%,
	90% {
		stroke: $purple;
	}
}